---
layout: default
---
     
<script type="text/javascript">
    function takeScreenshot() {
        console.log('test');
        html2canvas(document.body, {
        onrendered: function(canvas) {
            canvas.toBlob(function(blob) {
                saveAs(blob, "{{ page.title }}.png");
            });
        }
        });
    }
</script>


<article class="post">
  <h1>{{ page.title }}</h1>

  <div clsss="meta">
    <span class="date">
      {{ page.date | date: "%Y-%m-%d" }}
    </span>

    <ul class="tag">
      {% for tag in page.tags %}
      <li>
        <a href="{{ site.baseurl }}/tags.html#{{ tag }}">
          {{ tag }}
        </a>
      </li>
      {% endfor %}
      &nbsp;
      <a href="https://github.com/voice-against-covid19/voice-against-covid19.github.io/edit/main/{{ page.path }}">点此纠错</a>
      &nbsp;
      <input type="button" value="一键截图(beta)" onclick="takeScreenshot()">
    </ul>
  </div>

  <div class="entry">
    {{ content }}
  </div>

  <hr style="border-top:1px solid #28323C;"/>

  <font size=2px>
	   <p>评论请前往 <a href="https://xxxx.xyz/">xxxx.xyz</a>（<span style="color:red">已被墙</span>）</p>
  </font>

	<div class="social-share" data-disabled="linkedin,diandian,tencent,facebook"></div>

  <font size=2px><span style="color:red">
    本站可能已被屏蔽</span>，欢迎把本站的 Git repo 整包下载或克隆/复制到墙内： <a href="https://github.com/voice-against-covid19/voice-against-covid19.github.io">voice-against-covid19.github.io</a>，或者查看可直连的镜像 <a href="{{ site.baseurl }}/about.html">网站</a>。
    <br>
    文章版权归原作者所有。此处收录仅供存档研究，不代表本站立场。
  </font>

  <script> pangu.spacingPage(); </script>

  <div class="pagination">
    {% if page.previous.url %}
      <span class="prev" >
          <a href="{{ site.baseurl }}{{ page.previous.url }}">
            上一篇：{{ page.previous.title }}
          </a>
      </span>
    {% endif %}
    {% if page.next.url %}
      <span class="next" >
          <a href="{{ site.baseurl }}{{ page.next.url }}">
            下一篇：{{ page.next.title }}
          </a>
      </span>
    {% endif %}
  </div>

</article>
